<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dosomething.android"
    android:versionCode="7"
    android:versionName="1.6">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="org.dosomething.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="org.dosomething.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/logo_ds_horizontal"
        android:label="@string/app_name"
        android:name="MyApplication"
        android:theme="@android:style/Theme.NoTitleBar"
        android:allowBackup="true">

        <activity android:name=".activities.Welcome" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.Login"/>
        <activity android:name=".activities.Register"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.CampaignActions"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.Campaign"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.Campaigns"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.CampaignShare"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.CampaignSMSRefer"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.CauseSelector"/>
        <activity android:name=".activities.DSWebViewActivity"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.GalleryImageItemDisplay"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.Profile"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.ProfileConfig"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.ReportBack"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.SignUp"
            android:label=""
            android:theme="@style/DSActionBarTheme"/>
        <activity android:name=".activities.SFGGallery"/>
        <activity android:name=".activities.SFGItem"/>
        <activity android:name=".activities.SFGSubmit"/>
        <activity android:name="com.facebook.LoginActivity"/>
        
        <provider
            android:name="com.xtify.sdk.db.Provider"
            android:authorities="org.dosomething.android.XTIFY_PROVIDER"
            android:exported="false" />
        <receiver android:name="com.xtify.sdk.c2dm.C2DMBroadcastReceiver">
            <intent-filter android:permission="com.google.android.c2dm.permission.SEND" >
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.dosomething.android" />
            </intent-filter>
            <intent-filter android:permission="com.google.android.c2dm.permission.SEND" >
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="org.dosomething.android" />
            </intent-filter>
        </receiver>
         
        <receiver android:name="com.xtify.sdk.NotifActionReceiver" />
        <receiver android:name="com.xtify.sdk.wi.AlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
        <receiver android:process=":remote" android:name=".receivers.AlarmReceiver"></receiver>
        
        <service android:name="com.xtify.sdk.location.LocationUpdateService" />
        <service android:name="com.xtify.sdk.c2dm.C2DMIntentService" />
        <service android:name="com.xtify.sdk.alarm.MetricsIntentService" />
        <service android:name="com.xtify.sdk.alarm.TagIntentService" />
        <service android:name="com.xtify.sdk.alarm.RegistrationIntentService" />
        <service android:name="com.xtify.sdk.alarm.LocationIntentService" />
        <meta-data android:value="@string/facebook_app_id" android:name="com.facebook.sdk.ApplicationId"/>
        
    </application>

</manifest>